.layout {
  max-width: 960px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .layout__body {
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: flex-start;
    flex-direction: column;
  }
}
